<!--<!DOCTYPE html>-->
<!--{% extends 'layout.html' %}-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--{% block content %}-->
<!--<body>-->

<!--<h1>Machine Learning Jobs</h1>-->
<!--<head>-->
<!--      <title>HTML Meta Tag</title>-->
<!--      <meta http-equiv = "refresh" content = "2; url = https://www.google.com/search?q=machine+learning+jobs&rlz=1C1CHBD_enIN939IN939&oq=machine+learning+j&aqs=chrome.1.69i57j0i433i457i512j0i402l2j0i512j0i131i433i512j0i512l4.10402j0j15&sourceid=chrome&ie=UTF-8" />-->
<!--   </head>-->
<!--   <body>-->
<!--      <p>Hi there!</p>-->
<!--   </body>-->
<!--</body>-->
<!--{% endblock %}-->
<!--</html>-->


